.quote {
    color: green;
}

.list a[href^="https://"] {
    color: red;
}

.holder .list > li:last-of-type > a {
    background-color: green;
}

.list + p {
    font-size: 26px;
}

.text-box h3:first-child {
    color: pink;
}

#greycol {
    color: gray;
}

.text-box div p {
    color: red;
}

.text-box p:nth-last-child(2){
    color: green;
}

.yellow {
    color: yellow;
}

.bg-box {
    background-color: green; /* Задаємо фоновий колір */
    box-sizing: border-box;
}

.bg-box {
    background-image: url("https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");
    background-position: center; /* Вирівнювання зображення по центру */
    background-repeat: no-repeat; /* Заборона повторення зображення */
    width: 120%; /* Встановлення ширини елемента */
    height: 550px; /* Встановлення висоти елемента */
}

